{% extends 'base.html' %}

{% block title %}Home | Flask App {% endblock%}


{% block content%}

<!-- Example of if statement -->
<h1>Welcome, {{ user.name }}!</h1>
{% if user.is_authenticated %}
    <p>You are logged in.</p>
{% else %}
    <p>Please log in.</p>
{% endif %}

<!-- Example of for loop -->
<h2>Your technical skills:</h2>
<ul>
    {% for skill in skills %}
        <li> {{ skill|capitalize }} </li>
    {% endfor %}
</ul>

{% endblock %}

<!-- <li> {{ loop.index }} {{ skill|capitalize }} </li> -->